name: Deploy to ECR

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1
  ECR_BACKEND_NAME: ecs-microservices-backend
  ECR_FRONTEND_NAME: ecs-microservices-frontend

jobs:
  deploy:
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push Backend image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_BACKEND_NAME:latest -t $ECR_REGISTRY/$ECR_BACKEND_NAME:$IMAGE_TAG ./backend
          docker push $ECR_REGISTRY/$ECR_BACKEND_NAME:latest
          docker push $ECR_REGISTRY/$ECR_BACKEND_NAME:$IMAGE_TAG

      - name: Build, tag, and push Frontend image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_FRONTEND_NAME:latest -t $ECR_REGISTRY/$ECR_FRONTEND_NAME:$IMAGE_TAG ./frontend
          docker push $ECR_REGISTRY/$ECR_FRONTEND_NAME:latest
          docker push $ECR_REGISTRY/$ECR_FRONTEND_NAME:$IMAGE_TAG
